# ===========================
# LOGS
# ===========================
config/logs/
*.log
logs/

# ===========================
# SUBMODULOS / MICROSERVICIOS
# ===========================
db/
ms-audit/
tickets/
usuarios/
vehiculos/
zonas-espacios/

# ===========================
# NESTJS
# ===========================
node_modules/
dist/
.env

# ===========================
# SPRINGBOOT
# ===========================
target/
*.jar
*.war
*.class

# ===========================
# IDE
# ===========================
.idea/
.vscode/
*.iml
*.swp
*.swo

# ===========================
# SO
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# DOCKER
# ===========================
postgres_data/